<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo-Canvas-Bullet-Text</title>
</head>
<body>
<header style="margin: 20px">
    <h2>Canvas-Websocket聊天室（id:<span id="roomId"></span>）&nbsp;<button id="status" style="background-color: darkorange">正在连接...</button><button><a href="http://github.com/haowanxing/bullet-text-chatroom" style="text-decoration:none;" target="_blank">项目地址</a></button></h2>
</header>
<!--弹幕实现来源：https://www.bestvist.com/p/36 作者：bestvist-->
<!--弹幕实现来源：https://segmentfault.com/a/1190000011723466 作者：bestvist-->
<div style="position:relative;width:500px;height:400px;text-align:center;background-color: black">
    <canvas id="canvas" width="500" height="400" style="position:absolute;top:0;left:0;">
        您的浏览器不支持canvas标签。
    </canvas>
</div>
<div id="messages" style=" height: 100px; overflow: auto; border: solid 1px gray; padding: 5px; ">

</div>
<div class="screen_toolbar">
    <label for="screenBulletText"></label><input id="screenBulletText" type="text" placeholder="请输入弹幕内容"/>
    <button id="send">发射</button>
    <label for="name"></label><input id="name" type="text" placeholder="新的名字"/>
    <button id="changeName">改名</button>
</div>
<script src="/statics/js/client.js"></script>
<script>
    (function () {
        class Barrage {
            constructor(canvas) {
                this.canvas = document.getElementById(canvas);
                let rect = this.canvas.getBoundingClientRect();
                this.w = rect.right - rect.left;
                this.h = rect.bottom - rect.top;
                this.ctx = this.canvas.getContext('2d');
                this.ctx.font = '20px Microsoft YaHei';
                this.barrageList = [];
            }

            //添加弹幕列表
            shoot(value) {
                let top = this.getTop();
                let color = Barrage.getColor();
                let offset = Barrage.getOffset();
                let width = Math.ceil(this.ctx.measureText(value).width);

                let barrage = {
                    value: value,
                    top: top,
                    left: this.w,
                    color: color,
                    offset: offset,
                    width: width
                };
                this.barrageList.push(barrage);
            }

            //开始绘制
            draw() {
                if (this.barrageList.length) {
                    this.ctx.clearRect(0, 0, this.w, this.h);
                    for (let i = 0; i < this.barrageList.length; i++) {
                        let b = this.barrageList[i];
                        if (b.left + b.width <= 0) {
                            this.barrageList.splice(i, 1);
                            i--;
                            continue;
                        }
                        b.left -= b.offset;
                        this.drawText(b);
                    }
                }
                requestAnimationFrame(this.draw.bind(this));
            }

            //绘制文字
            drawText(barrage) {
                this.ctx.fillStyle = barrage.color;
                this.ctx.fillText(barrage.value, barrage.left, barrage.top);
            }

            //获取随机颜色
            static getColor() {
                return '#' + Math.floor(Math.random() * 0xffffff).toString(16);
            }

            //获取随机top
            getTop() {
                //canvas绘制文字x,y坐标是按文字左下角计算，预留30px
                return Math.floor(Math.random() * (this.h - 30)) + 30;
            }

            //获取偏移量
            static getOffset() {
                return +(Math.random() * 4).toFixed(1) + 1;
            }

        }

        let barrage = new Barrage('canvas');
        barrage.draw();

        let foo = function (data) {
            if(data.event == "text"){
                barrage.shoot(data.data);
            }
            let p = document.createElement("p");
            p.style.margin = "0";
            p.innerText = "[" + (data.time).split(" ")[1] + "] " + data.from + ": " + data.data;
            let Div = document.getElementById("messages");
            Div.append(p);
            Div.scrollTop = (Div.scrollHeight);
        };
        let roomId = window.location.pathname.slice(1);
        let client = new Client(foo);
        client.wsOnOpen(function (e) {
            client.changeRoom(roomId);
            document.getElementById("roomId").innerText = roomId;
            document.getElementById("status").style.backgroundColor = "chartreuse";
            document.getElementById("status").innerText = "连接成功";
            // client.changeName("匿名用户" + (new Date()).valueOf().toString().slice(-5));
        });
        let onClose = function (e) {
            document.getElementById("status").style.backgroundColor = "red";
            document.getElementById("status").innerText = "连接断开";
        };
        client.wsOnClose(onClose);
        client.wsOnError(onClose);
        client.connect();
        document.getElementById("send").onclick = function () {
            let msg = document.getElementById("screenBulletText").value;
            client.sendText(msg);
            document.getElementById("screenBulletText").value = "";
        };
        document.getElementById("changeName").onclick = function () {
            let msg = document.getElementById("name").value;
            client.changeName(msg);
            document.getElementById("name").value = "";
        };

    })();

</script>
</body>
</html>