<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BulletTextChatRoom</title>
    <style>
        .screen_container{
            position: relative;
            width: 95%;
            height: 400px;
            margin: 30px auto;
            background: #000;
            overflow: hidden;
        }
        .screen_toolbar{
            width: 95%;
            margin: 20px auto;
            text-align: center;
        }
    </style>
</head>
<body>
<header style="margin: 20px">
    <h2>Websocket聊天室（id:<span id="roomId"></span>）&nbsp;<button id="status" style="background-color: darkorange">正在连接...</button><button><a href="http://github.com/haowanxing/bullet-text-chatroom" style="text-decoration:none;"  target="_blank">项目地址</a></button></h2>
</header>
<div class="screen_container"></div>
<div class="screen_toolbar">
    <input id="screenBulletText" type="text" placeholder="请输入弹幕内容"/>
    <button class="send">发射</button>
    <button class="clear">清屏按钮</button>
</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">

    let roomId = "";
    let client = {
        ws: null,
        name: "匿名"+Date.now().toString()
    };
    //连接websocket
    client.connect = function(){
        let _this = this;
        this.ws = new WebSocket("ws://"+ window.location.host +"/ws");
        this.ws.onmessage = function(e) {
            let data = eval('(' + e.data + ')');
            biubiubiu(data.data);
        };
        this.ws.onclose = function () {
            $('#status').css("background-color","red").text("连接断开");
            _this.reConnect();
        };
        this.ws.onopen = function () {
            console.log("已连接！");
            _this.changeRoom(roomId);
            $('#status').css("background-color","chartreuse").text("连接成功");
        };
        this.ws.onerror = function (e) {
            $('#status').css("background-color","red").text("连接断开");
            console.log("发生错误："+e)
        }
    };
    //重连websocket
    client.reConnect = function(){
        let _this = this;
        setTimeout(function(){
            _this.connect();
        },1000);
    };
    //发送消息
    client.sendText = function(text){
        let msg = {
            "event":"text",
            "data":text
        };
        this.ws.send(JSON.stringify(msg))
    };
    client.changeName = function(name){
        let msg = {
            "event":"name",
            "data":name
        };
        this.ws.send(JSON.stringify(msg))
    };
    client.changeRoom = function(room){
        let msg = {
            "event":"room",
            "data":room
        };
        this.ws.send(JSON.stringify(msg))
    };


    $(function () {
        roomId = window.location.pathname.slice(1);
        $("#roomId").html(roomId);
        client.connect();

    });

    // 弹幕定时器
    let timers = [];
    // 控制弹幕显隐变量
    let isShow = true;
    // 弹幕biubiubiu
    function biubiubiu(text){
        // 创建弹幕
        var jqueryDom = createScreenbullet(text);
        // 添加定时任务
        addInterval(jqueryDom);
    }
    // 监听发送按钮
    $(".send").on("click", function () {
        client.sendText($("#screenBulletText").val());
        $("#screenBulletText").val("")
    });
    // 监听关闭弹幕按钮
    $(".clear").on("click", function () {
        if (isShow) {
            $(".bullet").css("opacity", 0);
            isShow = false;
        } else {
            $(".bullet").css("opacity", 1);
            isShow = true;
        }
    });
    // 新建一个弹幕
    function createScreenbullet(text) {
        var jqueryDom = $("<div class='bullet'>" + text + "</div>");
        var fontColor = "rgb(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random()) + ")";
        var fontSize = Math.floor((Math.random() + 1) * 24) + "px";
        var left = $(".screen_container").width() + "px";
        var top = Math.floor(Math.random() * 400) + "px";
        top = parseInt(top) > 352 ? "352px" : top;
        jqueryDom.css({
            "position": 'absolute',
            "color": fontColor,
            "font-size": fontSize,
            "left": left,
            "top": top
        });
        $(".screen_container").append(jqueryDom);
        return jqueryDom;
    }
    // 为弹幕添加定时任务
    function addInterval(jqueryDom) {
        var left = jqueryDom.offset().left - $(".screen_container").offset().left;
        var timer = setInterval(function () {
            left--;
            jqueryDom.css("left", left + "px");
            if (jqueryDom.offset().left + jqueryDom.width() < $(".screen_container").offset().left) {
                jqueryDom.remove();
                clearInterval(timer);
            }
        }, 10);
        timers.push(timer);
    }
</script>
</html>